# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
pubspec.lock
.puro.json

**/.flutter-plugins
**/.flutter-plugins-dependencies

# IntelliJ
.idea/
*.iml

# Antlr
*.tokens
gen/
