# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
toolchain/pubspec.lock
.puro.json

**/.flutter-plugins
**/.flutter-plugins-dependencies
/pubspec.lock

# IntelliJ
.idea/
*.iml

# Antlr
*.tokens
*.interp
/gen/
